@import 'css/mixins';

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
// MAIN
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
*,
*:after,
*:before {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

body {
  font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  @include clearfix;
}

img, 
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
  vertical-align:bottom;
}

input:focus {
  outline:0;
  border:1px solid #04A4CC;
}





.test {
  @include triangle(50px, red, up); 
}







// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
// TYPOGRAPHY
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
a {
  color:#444;
  text-decoration:none;
  &:hover {
    color: #444;
  }
  &:focus {
    outline: 0;
  }
  &:hover, a:active {
    outline: 0;
  }
}



// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
// MEDIA QUIRES
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
     only screen and (min-resolution:144dpi) {

}

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
// MISC
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
::selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-webkit-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-moz-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}