*, *:after, *:before { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; text-rendering: optimizeLegibility; }

body { font: 300 11px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif; zoom: 1; }
body:before, body:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
body:after { clear: both; }

img, .size-auto, .size-full, .size-large, .size-medium, .size-thumbnail { max-width: 100%; height: auto; vertical-align: bottom; }

input:focus { outline: 0; border: 1px solid #04a4cc; }

.test { height: 0; width: 0; border-color: transparent; border-style: solid; border-width: 25px; border-bottom-color: red; }

a { color: #444; text-decoration: none; }
a:hover { color: #444; }
a:focus { outline: 0; }
a:hover, a a:active { outline: 0; }

::selection { background: #04A4CC; color: #FFF; text-shadow: none; }

::-webkit-selection { background: #04A4CC; color: #FFF; text-shadow: none; }

::-moz-selection { background: #04A4CC; color: #FFF; text-shadow: none; }
