// ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆  GRID  ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ //
//  ◇ Base                              
//  ◇ Desktop                              
//  ◇ Tablet                                
//  ◇ Mobile                                
// ◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆ //

@import 'mixins/gridset';

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
// ※ BASE                             
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //

// Break Points
$desktop: 1140px; // .wrapper { max-width: $desktop; }
$tablet: 780px; // .wrapper { max-width: $tablet; }
$mobile: 320px; // .wrapper { max-width: $mobile; }

// Fluid
$fluid-desktop: 1140px; // .wrapper { min-width: $fluid-desktop; }
$fluid-tablet: 768px; // .wrapper { min-width: $fluid-tablet; }
$fluid-mobile: 767px; // .wrapper { max-width: $fluid-mobile; }


.column {
  &.one, &.two, &.three, &.four, &.five, &.six, &.seven, &.eight, &.nine, &.ten, &.eleven, &.twelve { display:block;float:left;margin-right:-100%; }
}

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
// ※ DESKTOP                             
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
@media only screen and (min-width: 1140px) {

  .wrapper { max-width: $desktop; }

  .t-hide, .m-hide { display: none; }

  .column {

    // One Column & Spans
    &.one { @include gs-span(d, 1); }
    &.one-two { @include gs-span(d, 1, 2); }
    &.one-three { @include gs-span(d, 1, 3); }
    &.one-four { @include gs-span(d, 1, 4); }
    &.one-five { @include gs-span(d, 1, 5); }
    &.one-six { @include gs-span(d, 1, 6); }
    &.one-seven { @include gs-span(d, 1, 7); }
    &.one-eight { @include gs-span(d, 1, 8); }
    &.one-nine { @include gs-span(d, 1, 9); }
    &.one-ten { @include gs-span(d, 1, 10); }
    &.one-eleven { @include gs-span(d, 1, 11); }
    &.one-twelve { @include gs-span(d, 1, 12); }

    // Two Columns & Spans
    &.two { @include gs-span(d, 2); }
    &.two-two { @include gs-span(d, 2, 2); }
    &.two-three { @include gs-span(d, 2, 3); }
    &.two-four { @include gs-span(d, 2, 4); }
    &.two-five { @include gs-span(d, 2, 5); }
    &.two-six { @include gs-span(d, 2, 6); }
    &.two-seven { @include gs-span(d, 2, 7); }
    &.two-eight { @include gs-span(d, 2, 8); }
    &.two-nine { @include gs-span(d, 2, 9); }
    &.two-ten { @include gs-span(d, 2, 10); }
    &.two-eleven { @include gs-span(d, 2, 11); }
    &.two-twelve { @include gs-span(d, 2, 12); }

    // Three Columns & Spans
    &.three { @include gs-span(d, 3); }
    &.three-four { @include gs-span(d, 3, 4); }
    &.three-five { @include gs-span(d, 3, 5); }
    &.three-six { @include gs-span(d, 3, 6); }
    &.three-seven { @include gs-span(d, 3, 7); }
    &.three-eight { @include gs-span(d, 3, 8); }
    &.three-nine { @include gs-span(d, 3, 9); }
    &.three-ten { @include gs-span(d, 3, 10); }
    &.three-eleven { @include gs-span(d, 3, 11); }
    &.three-twelve { @include gs-span(d, 3, 12); }

    // Four Columns & Spans
    &.four { @include gs-span(d, 4); }
    &.four-five { @include gs-span(d, 4, 5); }
    &.four-six { @include gs-span(d, 4, 6); }
    &.four-seven { @include gs-span(d, 4, 7); }
    &.four-eight { @include gs-span(d, 4, 8); }
    &.four-nine { @include gs-span(d, 4, 9); }
    &.four-ten { @include gs-span(d, 4, 10); }
    &.four-eleven { @include gs-span(d, 4, 11); }
    &.four-twelve { @include gs-span(d, 4, 12); }

    // Five Columns & Spans
    &.five { @include gs-span(d, 5); }
    &.five-six { @include gs-span(d, 5, 6); }
    &.five-seven { @include gs-span(d, 5, 7); }
    &.five-eight { @include gs-span(d, 5, 8); }
    &.five-nine { @include gs-span(d, 5, 9); }
    &.five-ten { @include gs-span(d, 5, 10); }
    &.five-eleven { @include gs-span(d, 5, 11); }
    &.five-twelve { @include gs-span(d, 5, 12); }

    // Six Columns & Spans
    &.six { @include gs-span(d, 6); }
    &.six-seven { @include gs-span(d, 6, 7); }
    &.six-eight { @include gs-span(d, 6, 8); }
    &.six-nine { @include gs-span(d, 6, 9); }
    &.six-ten { @include gs-span(d, 6, 10); }
    &.six-eleven { @include gs-span(d, 6, 11); }
    &.six-twelve { @include gs-span(d, 6, 12); }

    // Seven Columns & Spans
    &.seven { @include gs-span(d, 7); }
    &.seven-eight { @include gs-span(d, 7, 8); }
    &.seven-nine { @include gs-span(d, 7, 9); }
    &.seven-ten { @include gs-span(d, 7, 10); }
    &.seven-eleven { @include gs-span(d, 7, 11); }
    &.seven-twelve { @include gs-span(d, 7, 12); }

    // Eight Columns & Spans
    &.eight { @include gs-span(d, 8); }
    &.eight-nine { @include gs-span(d, 8, 9); }
    &.eight-ten { @include gs-span(d, 8, 10); }
    &.eight-eleven { @include gs-span(d, 8, 11); }
    &.eight-twelve { @include gs-span(d, 8, 12); }

    // Nine Columns & Spans
    &.nine { @include gs-span(d, 9); }
    &.nine-ten { @include gs-span(d, 9, 10); }
    &.nine-eleven { @include gs-span(d, 9, 11); }
    &.nine-twelve { @include gs-span(d, 9, 12); }

    // Ten Columns & Spans
    &.ten { @include gs-span(d, 10); }
    &.ten-eleven { @include gs-span(d, 10, 11); }
    &.ten-twelve { @include gs-span(d, 10, 12); }

    // Eleven Columns & Spans
    &.eleven { @include gs-span(d, 11); }
    &.eleven-twelve { @include gs-span(d, 11, 12); }

    // Twelve Columns & Spans
    &.twelve { @include gs-span(d, 12); }

  }
}


// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
// ※ TABLET                               
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
@media only screen and (min-width:768px) and (max-width: 1139px) {
  
  .wrapper { max-width: $tablet; }

  .d-hide, .m-hide { display: none; }

  .column {
  
    // One Column & Spans
    &.one { @include gs-span(t, 1); }
    &.one-two { @include gs-span(t, 1, 2); }
    &.one-three { @include gs-span(t, 1, 3); }
    &.one-four { @include gs-span(t, 1, 4); }
    &.one-five { @include gs-span(t, 1, 5); }
    &.one-six { @include gs-span(t, 1, 6); }

    // Two Columns & Spans
    &.two { @include gs-span(t, 2); }
    &.two-two { @include gs-span(t, 2, 2); }
    &.two-three { @include gs-span(t, 2, 3); }
    &.two-four { @include gs-span(t, 2, 4); }
    &.two-five { @include gs-span(t, 2, 5); }
    &.two-six { @include gs-span(t, 2, 6); }


    // Three Columns & Spans
    &.three { @include gs-span(t, 3); }
    &.three-four { @include gs-span(t, 3, 4); }
    &.three-five { @include gs-span(t, 3, 5); }
    &.three-six { @include gs-span(t, 3, 6); }

    // Four Columns & Spans
    &.four { @include gs-span(t, 4); }
    &.four-five { @include gs-span(t, 4, 5); }
    &.four-six { @include gs-span(t, 4, 6); }

    // Five Columns & Spans
    &.five { @include gs-span(t, 5); }
    &.five-six { @include gs-span(t, 5, 6); }

    // Six Columns & Spans
    &.six { @include gs-span(t, 6); }

    // Seven-Twelve Columns & Spans
    &.seven, &.eight, &.nine, &.ten, &.eleven, &.tweleve { @include gs-span(t, all); }

  }

}


// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
// ※ MOBILE                               
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ //
@media only screen and (max-width: 767px) {
  
  .wrapper { max-width: $mobile; }

  .d-hide, .t-hide { display: none; }

  .column {
  
    // One Column & Spans
    &.one { @include gs-span(m, 1); }
    &.one-two { @include gs-span(m, 1, 2); }
    &.one-three { @include gs-span(m, 1, 3); }
    &.one-four { @include gs-span(m, all); }

    // Two Columns & Spans
    &.two { @include gs-span(m, 2); }
    &.two-two { @include gs-span(m, 2, 2); }
    &.two-three { @include gs-span(m, 2, 3); }
    &.two-four { @include gs-span(m, 2, 4); }


    // Three Columns & Spans
    &.three { @include gs-span(m, 3); }
    &.three-four { @include gs-span(m, 3, 4); }

    // Four Columns & Spans
    &.four { @include gs-span(m, 4); }

    // Four-Twelve Columns & Spans
    &.five, &.six, &.seven, &.eight, &.nine, &.ten, &.eleven, &.tweleve { @include gs-span(m, all); }

  }


}